@import "~bootstrap/scss/bootstrap";
@import "~toastr/build/toastr.css";

body {
    padding-top: 40px;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

.top-nav {
    padding-top: 0;
    padding-bottom: 0;
}

// Fix the radius when 2 items are appended to an input group.
.input-group-append {
    select {
        @extend .dropdown-toggle;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        // Fixes the glowing border around the select.
        position: relative;
        z-index: 2;
    }
}
