<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top top-nav">
  <span class="navbar-brand">Binance Maker</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/trade']">Trade</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/history']">History</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="navbar-text">
          BTCUSDT: {{ticker['BTCUSDT'] | currency}}
        </span>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/config']">
          <i class="fa fa-cog"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="outline: none;" href="javascript:void(0);"
           data-toggle="modal"
           data-target="#aboutModal"><i
            class="fa fa-question"></i></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maker v{{VERSION}}</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dl>
          <dt>News</dt>
          <dd><a href="https://maker.crankykernel.com/news/" target="_blank">https://maker.crankykernel.com/news/</a>
          </dd>
          <dt>Issue Tracker</dt>
          <dd><a href="https://gitlab.com/crankykernel/maker/issues"
                 target="_blank"><i
              class="fab fa-github"></i> GitLab</a></dd>
          <dt></dt>
          <dt>Email</dt>
          <dd><a href="mailto:thecrankykernel@gmail.com">thecrankykernel@gmail.com</a>
          </dd>
          <dt>Twitter</dt>
          <dd><a href="https://twitter.com/crankykernel"
                 target="_blank">@crankykernel</a></dd>
          <dt>Telegram</dt>
          <dd><a href="https://t.me/crankykernel">@crankykernel</a></dd>

          <dt>Donations</dt>
          <dd>
            LTC: Lf2RrK8zTyvzpUxcrXABtXF94h6tE3Sknz
            <br/>
            ETH: 0xeb0cde70c44d1f9c19761cffcbc8333c43225c00
            <br/>
            DOGE: D9HYSuSvMwKt6S9w75uX1btUMn4hbeKFQh
          </dd>
        </dl>

        <a href="https://www.binance.com/?ref=20697299">Signup for Binance</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block"
                data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
