table {
  font-size: 0.875rem;

  // Nested tables.
  table {
    th, td {
      border: 0;
      padding: 0;
      margin: 0;
    }
    th {
      padding-right: 2px;
    }
    hr {
      margin: 4px;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
